<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="rock">
            <h2><span jhiTranslate="meteoritesMicroscopeApp.rock.detail.title">Rock</span> {{ rock.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="meteoritesMicroscopeApp.rock.name">Name</span></dt>
                <dd>
                    <span>{{ rock.name }}</span>
                </dd>
                <dt><span jhiTranslate="meteoritesMicroscopeApp.rock.desc">Desc</span></dt>
                <dd>
                    <span>{{ rock.desc }}</span>
                </dd>
                <dt><span jhiTranslate="meteoritesMicroscopeApp.rock.picturePath">Picture Path</span></dt>
                <dd>
                    <span>{{ rock.picturePath }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/rock', rock.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
